<!DOCTYPE html>
<!--TODO: MAKE THIS PRETTY :)-->
<html>
    <head>
        <title>CS Master's Program Course Helper</title>
        <h1>CS Master's Program Course Helper</h1>
        <figure>
            <figcaption>Listen to this page:</figcaption>
            <audio
                controls
                src="../media/home.mp3">
                    <a href="../media/home.mp3">
                        Download audio
                    </a>
            </audio>
        </figure>
            <p>Welcome to the course scheduler helper for the Computer Science Master's program from the University of New Orleans!</p>
            <a href="https://www.uno.edu/academics/cos/computer-science/computer-science-ms">Learn more about the CS Master's Program at UNO</a>
            <p>
                <button onclick="window.location.href='/scheduler';">Schedule My Courses</button>
            </p>
    </head>
</html>