body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
	height: 100vh;
}
@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

#title{
	position: relative;
	background-color: white;
	padding: 10px;
	text-align: center;
	width: 54.3%;
	margin: auto;
	height: 150px;
}

#audio {
	position: relative;
	background-color: white;
	padding: 5px;
	text-align: center;
	width: 55%;
	margin: auto;
	height: 200px;
}


#welcome{
	position: relative;
	background-color: white;
	padding: 5px;
	text-align: center;
	width: 55%;
	margin: auto;
	height: 150px;
}

#link{
	position: relative;
	background-color: white;
	padding: 5px;
	text-align: center;
	width: 55%;
	margin: auto;
	height: 150px;
}

#scheduleButton{
	outline: none;
	width: 200px;
	height: 60px;
	font-size: 16px;
	border-radius: 200px;
}