<!DOCTYPE html>
<html>
    <head>
        <title>Courses Viewer</title>
    </head>
    <body>
        <center><h1>Current Available Curriculum</h1></center>
        <ul>
            <% for (var i = 0; i < classes.length ; i++) { %>
                <li> <%= classes[i] %> </li>
            <% } %>
        </ul>
    </body>
</html>