body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #da70d6, #23a6d5, #23d5ab, #ffff00);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
	height: 100vh;
	margin: 0rem;
}
@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

#title {
    border-radius: 1.5rem;
    text-align: center;
    position: relative;
    background-color: white;
	text-align: center;
	width: 54.3%;
	margin: auto;
	height: auto;
}

#tablediv {
    overflow-y: scroll;
    margin: auto;
    height: 31.25rem;
    width: 70%;
}

#audio {
	position: relative;
	background-color: white;
	padding: 0.33rem;
	text-align: center;
	width: 55%;
	margin: auto;
	height: 12.5rem;
}


#welcome{
	position: relative;
	background-color: white;
	padding: 0.5rem;
	text-align: center;
	width: 55%;
	margin: auto;
	height: 9.375rem;
}

#link{
	position: relative;
	background-color: white;
	padding: 0.33rem;
	text-align: center;
	width: 55%;
	margin: auto;
	height: 9.5rem;
}

#scheduleButton{
	outline: none;
	width: 12.5rem;
	height: 4rem;
	font-size: 1rem;
	border-radius: 10rem;
}

#navbar {
    margin: 0 auto;
    width: 100%;
    height: auto;
    font-size: 1rem;
    position: relative;
    background-color: white;
}

.button {
    outline: none;
    width: 12.5rem;
    height: 4rem;
    text-align: center;
    font-size: 1rem;
    border-radius: 10rem;
}